body{
  font-family: 'Lato', sans-serif;
  color: #888;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
}

#container{
  width: 1050px;*/
  width: 90%;
  margin-left:25px;
  border: 1px solid black;
  padding: 60px;
  max-width: 69em;
}

  .fa-arrow-right{
    color: #D5DBDB;
    /*GREY*/
    font-weight: 100;
  }


  .fa-arrow-down{
    color:#47a3da;
    /*display:none;*/
  }

  .fa-arrow-downOatcake{
    color:#47a3da;
    /*display:none;*/
  }


    h3{
      width: 90%;
      color: #47a3da;
      font-size: 40px;
      font-family: 'Lato', sans-serif;
      border-bottom: 1px solid #ddd;
      padding: 1.5em 3em .5em 3em;
    }

  .AccordionItems{
    padding: 0.2em 5em 1.5em 5em;
    /*margin: 20px;*/
    color: #47a3da;
    /*font-size: 35px;*/
    display: none;
  }

  .paragraph{
  /*styled in the body above*/
    line-height: 1.5;
    font-weight: 300;
    padding-left: 100px;
    padding-right: 400px;
    margin: 0;
    width: 90%;
}

  .accordion{
  }

  .ParagraphSmallHeaders{
  color: #D5DBDB;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
   display: none
  }

  .Show{
   display: block;
  }
  .Hide{
   display: none;
}

  .fa-arrow-circle-o-right{
    color: #D5DBDB;
  }

  .fa-arrow-circle-o-right:hover{
    transform: rotateZ(45deg);
    color:#47a3da;
  }

  .SmallHeadings{
    color: #47a3da;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    padding: 3em 5em 3em 7em;
    line-height: 3;
    letter-spacing: .4em;
  }

.fa-arrow-right:hover{
  transform: rotateZ(45deg);
  color: #47a3da;
