#container{}

  .fa-arrow-right{
    color: #D5DBDB;
  }
  .BigHeadings{
font-size: 2.75em;
font: verdana;
    color: #47a3da;
  }
  .BigHeadingParagraphs{
  color: #D5DBDB;
  font-size: 30px;
  }
  .SmallHeadings{
    color: #47a3da;
  }
h1:hover>i{
  transform: rotateZ(45deg);
}
