body{
  font-family: 'Lato', sans-serif;
  color: #888;
  font-size: 30px;
}

#container{
  width: 1050px;
  margin-left:25px;
  border: 1px solid black;
  padding: 60px;
}

  .fa-arrow-right{
    color: #D5DBDB;
    /*GREY*/
    font-weight: 100;
  }


    h3{
      /*width: 700px;
      /*border-bottom-width: : 300px;*/
      width: 90%;
      color: #47a3da;
      font-size: 40px;
      font-family: 'Lato', sans-serif;
      border-bottom: 1px solid #ddd;
      padding: 1.5em 3em .5em 3em;
    }
  }
  .AccordionItems{
    /*list-style: none;*/
    /*border-bottom: 1px solid #ddd;*/
    padding: 0.2em 5em 1.5em 5em;
    /*margin: 20px;*/
    color: #47a3da;
    /*font-size: 35px;*/
    display: none;
  }

    /*border: 1px solid black;*/
  }
  p{
  /*the font size and color are styled in the body above*/
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    font-weight: 300;
    padding: 0.2em 5em 1.5em 5em;
    margin: 0;
}

  .accordion{
  }

  .ParagraphSmallHeaders{
  color: #D5DBDB;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
   display: none
  }

  .Show{
   display: block;
  }
.Hide{
   display: none;
}


  .fa-arrow-circle-o-right{
    color: #D5DBDB;
  }
  .SmallHeadings{
    color: #47a3da;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    padding: 3em 5em 3em 7em;
    line-height: 3;
    letter-spacing: .4em;
  }
/*PERHAPS STYLE HORIZONTAL RULE HERE?*/
/*hr{
  color: #47a3da;
}*/

.fa-arrow-right:hover{
  transform: rotateZ(45deg);
  color: #47a3da;

  /*THIS (below) WILL BE FOR THE HIDE/SHOW for Loop*/
}
/*input{
    display: block;
}*/


/*input:checked +.buttonArrow{

  transform: rotateZ(90deg);
  color: #47a3da;
}*/

/*.buttonArrow
h1:onclick>i{
  transform: rotateZ(180deg);
}*/
/*.HideParagraphs{
  display: none;*/
